# device name   Device offset   Env. size   Flash sector size  Number of sectors

#/dev/mmcblk0p3  -0x2000 0x2000
#/dev/mmcblk0p3  -0x4000 0x2000           

# if boot from mmc0 or mmc1 part uboot name is fip - /dev/mmcblkXpX
/dev/disk/by-partlabel/fip  -0x2000 0x2000
/dev/disk/by-partlabel/fip  -0x4000 0x2000
